<app-nav></app-nav>

<div class="container-fluid">
  <!-- <div class="starter-template">
    <h1>Angular CLI :)</h1>
    <p class="lead">A simple tutorial</p>
  </div> -->
  <div class="row">
    <nav class="filter col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <app-filter></app-filter>
      </div>
    </nav>
    <div class="list col-md-8">
      <app-expenses-table></app-expenses-table>
    </div>
    <div class="total col-md-2 d-none d-md-block">
      Total
    </div>
  </div>

</div>

<app-footer></app-footer>
