<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Filtrare</h2>
    </div>
    <div class="col">
    </div>
    <div class="col">
      <button type="reset" class="filter-reset btn btn-primary btn-sm">Șterge tot</button>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="from">De la</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="from" aria-describedby="fromDate">
          <div class="input-group-append">
            <span class="input-group-text" id="fromDate"><i class="fa fa-calendar" aria-hidden="true"></i>️ </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="to">Până la</label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="from" aria-describedby="toDate">
          <div class="input-group-append">
            <span class="input-group-text" id="fromDate"><i class="fa fa-calendar" aria-hidden="true"></i>️ </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="from">Tranzacție</label>
        <div class="input-group mb-2">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Alege...</option>
            <option value="1">Hotel</option>
            <option value="2">Mâncare</option>
            <option value="3">Hobby</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>
