/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";

body {
  padding-top: 5rem;
}

.filter {
  height:calc(100vh - 110px);
}

.list {
  text-align: center;
  background-color: white;
}

.total {
  text-align: center;
  background-color: #f8f9fa!important;;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
